/* font-family Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
       url('../assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2'),
       url('../assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
       url('../assets/fonts/Inter-Bold.woff') format('woff');
}


/* font-family Helvetica */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Helvetica-Regular.woff2') format('woff2'),
       url('../assets/fonts/Helvetica-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Helvetica-Bold.woff2') format('woff2'),
       url('../assets/fonts/Helvetica-Bold.woff') format('woff');
}

